<section id="sales_by_product_container">
  <hgroup>
    <h3>Top products</h3>
    <h4>biggest sales by products</h4>
  </hgroup>

  <div data-charts-target="salesByProducts" style="height: 400px;"></div>
</section>
