<section id="sales_by_store_container">
  <hgroup>
    <h3>Top stores</h3>
    <h4>biggest sales by stores</h4>
  </hgroup>

  <div data-charts-target="salesByStores" style="height: 400px;"></div>
</section>
