<section id="sales_by_product_container">
  <hgroup>
    <h3>Top products</h3>
    <h4>biggest sales by products</h4>
  </hgroup>

  <%= bar_chart @top_sales_by_products,
                colors: ['#E81370'],
                height: '400px',
                id: 'sales-by-product-chart' %>
  <%= bar_chart dashboard_index_url(format: :json) %>
</section>
