<%= link_to "Back to stores", stores_path %>
<%= @store.name %>
<%= number_to_currency(@store.total_sales) %>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Stock</th>
      <th scope="col">Last update</th>
    </tr>
  </thead>
  <tbody>
    <%= render @inventories %>
  </tbody>
</table>
