/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root, body {
  --primary: #EC3788;
}

section {
  margin: 10px 0;
  padding: 10px 30px;
  border-radius: var(--border-radius);
  background: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
}

button {
  display: block;
  width: 100%;
  margin: 0;
}

.label {
  max-width: 100px;
  border-radius: 8px;
  text-align: center;
}

.stock-label-low {
  background-color: #faaaaa;
  color: #a10000;
}

.stock-label-middle {
  background-color: #f7f1ba;
  color: #a18e00;
}

.stock-label-high {
  background-color: #baf7cc;
  color: #00a138;
}
